--extra-index-url https://download.pytorch.org/whl/cu118
torch==2.4.1+cu118
torchvision==0.19.1+cu118
--extra-index-url https://data.dgl.ai/wheels/torch-2.4/cu124/repo.html
dgl
scikit-learn
scipy
coverage==4.5.4
coveralls==1.9.2
black
pytest
networkx
numpy
matplotlib
seaborn
tqdm
tensorboard_logger
